@charset "utf-8";
/* CSS Document */
/*页面顶部布局样式*/

.navbar{
	position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
	padding: 12px 20px 0;
	width:100%;
    height: 40px;
    border-top: 0;
	border-left:0;
	border-right:0;
	background-color: #f8f8f8;
    border-color: #e7e7e7;
}
.navTitle {
    font-size: 15px;
    float: left;
}
/*页面中部静态部分布局样式*/
.config{
	padding-bottom: 0;
    background-color: #FFF;
    text-align: inherit;
	width:1024px;
	margin-left:auto;
	margin-right:auto;
}
.container{
	padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}
.custom-scroll{
	margin-right: 2px;
    min-height: 277px;
/*  overflow-y: -webkit-paged-y;*/
    overflow-x: hidden;
}
.configform{
	padding: 0 20px 0 0;
	font-size: 12px;
	display: initial;
}
.topform{
	margin-right: -10px;
    margin-left: -10px;
	margin-bottom: 15px;
	padding-top: 10px;
	font-size:14px;
}
.form-span1{
	width: 50%;
    float: left;
}
.control-label{
	width: 93px;
	padding-right: 0;
	word-wrap: break-word;
	color: #333;
	font-weight: 400;
	padding-top: 7px;
	margin-bottom: 0;
	text-align: right;
	float: left;
	position: relative;
    min-height: 1px;
}
.dropdown {
	position: relative;
	width: 329px;
	position: relative;
    min-height: 1px;
	float: left;
    padding-right: 10px;
    padding-left: 10px;
}
.dropdownGrayBoder{
	border-color: rgb(204, 204, 204);
	border-radius: 0 2px 2px 0;
}
.dropdownBlueBorder{
	border-color: rgb(37, 170, 225);
}
#fileTypeSelectButton{
	border-radius:0 2px 2px 0;
	border: 1px solid #ccc;
}
#fileSelectButton{
	color:#3798e9;
	border: 1px solid #3798e9;;
	width:50px;
	padding:0;
}
#upload{
	width:180px;
	border-radius: 2px 2px 2px 2px;
}
.dropdownSelect{
	margin: 0;
	color: #333;
	background-color: #fff;
    border-left: 0;
    float: right;
    position: relative;
	width: 30px;
	height: 34px;
	border: 1px solid #ddd;
	outline:#ccc 5px;
}
.caret{
	display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
	
}
.fileTypeInput{
	display: inline-block;
    border-radius: 2px 0 0 2px;
    float: left;
    font-size: 12px;
    width: 279px;
}
.inputGrayBorder{
	border-color: rgb(204, 204, 204);
    color: rgb(51, 51, 51);
}
.inputBlueBorder{
	border-color: rgb(37, 170, 225);
    color: rgb(37, 170, 225);
}
.form-control {
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.undisplay{
	display:none;
}
.dropdownMenu{
	overflow-y: hidden;
	width: 310px;
	cursor: pointer;
    margin-top: 36px;
    max-height: 250px;
    overflow-x: hidden;
	position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 9px 0;
    font-size: 13px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.menu{
	margin-left: 3px;
    margin-top: 0px;
    height: 53px;
    overflow-y: auto;
	padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.menuLi{
	line-height: 20px;
}
.menuItem{
	padding: 5px 0 0 18px;
    color: #333;
    display: block;
}
.item{
	display: inline-block;
    width: 24px;
    height: 24px;
    font: 700 16px/24px Arial;
    color: #fff;
    background: #665d97;
    text-align: center;
    border-radius: 4px;
    vertical-align: middle;
    margin-right: 8px;
}
/*页面中部分隔线*/
.fieldsSplit{
	width: 900px;
    margin: 80px auto 60px;
	border-bottom: 1px solid #ccc;
}

/*页面中部动态部分样式*/
.bottomform{
	margin-right: -10px;
    margin-left: -10px;
	margin-bottom: 15px;
	padding-left: 35px;
}
.xmlNode{
	padding-bottom:50px;	
}
.unfold{
	color:#666;
    width: 0;
	margin-top:9px;
	margin-right:5px;
	float:left;
    margin-left: 0px;
    vertical-align: middle;
    border-top: 6px solid;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}
.fold{
	color:#666;
    width: 0;
	margin-top:5px;
	margin-right:5px;
	float:left;
    margin-left: 0px;
    vertical-align: middle;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid;
}
.xmlItem{
	width: 159px;
	margin-right:100px;
    float: left;
    text-align: center;
    padding-top: 7px;
	font-size:14px;
	display: -webkit-inline-box;
}
.xmlItemEdit{
	width: 160px;
    float: left;
    text-align: center;
    padding-top: 7px;
	font-size:14px;
	display: -webkit-inline-box;
}
.xmlEdit{
    width: 100px;
    float: left;
    padding-left: 40px;
    padding-top: 5px;	
}
.xmlEditButton{
	color: #3798e9;
    background-color: #fff;
	cursor: pointer;
	font-size: 20px;
	border: 1px solid transparent;
}
.xmlSpan{
	width: 343px;
    float: left;
}
.xmlDropdown{
	position: relative;
	width: 250px;
	position: relative;
    min-height: 1px;
	float: left;
    padding-right: 10px;
    padding-left: 10px;
}
.xmlText{
	position: relative;
	width: 250px;
	position: relative;
    min-height: 1px;
	float: left;
    padding-right: 10px;
    padding-left: 10px;
}
.xmlInput{
	display: inline-block;
    border-radius: 2px 0 0 2px;
    float: left;
    font-size: 12px;
    width: 230px;
}
.xmlSelectInput{
	display: inline-block;
    border-radius: 2px 0 0 2px;
    float: left;
    font-size: 12px;
    width: 200px;
}
.xmlDropdownMenu{
	overflow-y: hidden;
	width: 233px;
	cursor: pointer;
    margin-top: 36px;
    max-height: 250px;
    overflow-x: hidden;
	position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 9px 0;
    font-size: 13px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.defaultMenu{
	height:75px;	
}
.selectButton{
	margin: 0;
    color: #333;
    background-color: #fff;
    border-left: 0;
    float: right;
    position: relative;
    width: 30px;
    height: 34px;
    outline: #ccc 5px;
	border-radius:0 2px 2px 0;
	border: 1px solid #ccc;
}
.nodeSplit{
	width: 900px;
    margin: 15px auto 50px;
	border-bottom: 1px solid #ccc;
}
.configNode{
	float: left;
    width: 100%;
    padding-bottom: 20px;
    font-size: 17px;
    color: #666;
}

/*页面底部样式*/
.form-operation{
    padding: 13px 2px;
	text-align: center;
    margin-top: 10px;
	margin-left:auto;
	margin-right:auto;
    height: 60px;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}
.form-button-submit{
	min-width: 122px;
    height: 34px;
    margin-right: 17px;
	border-radius: 3px;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-primary {
    color: #fff;
    background-color: #3798e9;
    border-color: #1d9bd0;
}
.form-button-cancel{
	background: transparent;
	width: 122px;
    height: 34px;
    border-radius: 3px;
}
.btn-default{
	color: #3798e9;
    background-color: #fff;
    border-color: #3798e9;
}
a{
    cursor: auto;
	text-decoration:none;
}
body {
    font-family: 'Arial','Microsoft YaHei',sans-serif;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
div {
    display: block;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

* {
    box-sizing: border-box;
}
input::-webkit-input-placeholder {
	color:#999;
}
